html {
  border: 3px purple solid;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red dotted;
  background-color: #f3fed3;
  height: 100%;
}
