html {
  border: 3px purple solid;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red dotted;
  background-color: #f3fed3;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
